<!DOCTYPE html>
<html>
    <head>
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    </head>
 <body>

<div class="signup">
 <h1>Sign Up!</h1>
 <form action="/register" method="post">
<div class="text-box">
    <input type="text" name="username" placeholder="username">
    </div>
    <div class="text-box">
    <input type="password" name="password" placeholder="password">
    </div>
    <button class="btn">Sign Up</button>
</form>
</div> 

</body>
</html>